<div data-ng-controller="findFoodController" class="row foodInput">

  <uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="{{recipe.name}}" ng-repeat="recipe in recipes">
      <a ng-href="/#/food/edit/{{recipe.$id}}">Redigér opskrift</a>
      <ul>
          <li data-ng-repeat="ingredient in recipe.ingredients">
            {{ingredient.name}}
          </li>
      </ul>
      <div ng-bind="recipe.description"></div>
    </uib-accordion-group>
  </uib-accordion>

</div>
