<div ng-show="user.isLoggedIn" data-ng-controller="foodController" class="foodInput">

  <div class="recipe-form">
    <input class="recipe-name" placeholder="Opskrift navn" autofocus
    data-ng-disabled="!user.isLoggedIn" data-ng-model="recipe.name"
    data-ng-keydown="($event.keyCode == 13) && addRecipe(recipe) && setNewRecipe()" />
    <input class="ingredient-name" value="" placeholder="Ingrediens"
    data-ng-disabled="!user.isLoggedIn" data-ng-model="ingredient.name"
    data-ng-keydown="($event.keyCode == 13) && recipe.ingredients.push(ingredient) && setNewIngredient()" />
    <br><br>
    <textarea rows="8" cols="40" data-ng-model="recipe.description"
    data-ng-disabled="!user.isLoggedIn" ></textarea>
    <br><br>
    <input type="button" value="Opret opskrift" data-ng-click="addRecipe(recipe) && setNewRecipe()">
  </div>

  <div class="recipe-list">
    <div data-ng-repeat="(id, recipe) in recipes">
      <div ng-bind="recipe.name"></div>
      <ul>
          <li data-ng-repeat="(id, ingredient) in recipe.ingredients">{{ingredient.name}}</li>
      </ul>
      <div ng-bind="recipe.description"></div>
    </div>
  </div>

</div>
